<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MicroKSiw2019_2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!--Inizio Login -->
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
    <!--Fine Login -->
  
    <!--Inizio Registrazione -->
  <servlet>
    <servlet-name>signUpServlet</servlet-name>
    <servlet-class>servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUpServlet</servlet-name>
    <url-pattern>/signUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
      <!--Fine Registrazione -->
  
    <!--Inizio Ricerca -->
    <servlet-name>search</servlet-name>
    <servlet-class>servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
      <!-- Fine Ricerca  -->
      
     <!--Inizio Aggiungi al carrello -->
    <servlet>
	    <servlet-name>addToCart</servlet-name>
	    <servlet-class>servlet.AddToCart</servlet-class>
	 </servlet>
  	<servlet-mapping>
	    <servlet-name>addToCart</servlet-name>
	    <url-pattern>/addToCart</url-pattern>
  	</servlet-mapping>
  	
   <!--Fine Aggiungi al carrello -->
  
   <!--Inizio Logout -->
   <servlet>
  	 <servlet-name>logout</servlet-name>
     <servlet-class>servlet.Logout</servlet-class>
   </servlet>
   <servlet-mapping>
	    <servlet-name>logout</servlet-name>
	    <url-pattern>/logout</url-pattern>
   </servlet-mapping>
   <!--Fine  Logout -->
   
   
  <!--Inizio Cancella Canzone -->
  <servlet>
    <servlet-name>deleteSong</servlet-name>
    <servlet-class>servlet.DeleteSong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteSong</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <!--Fine Cancella Canzone -->
  
  
  <!--Inizio Aggiungi Artista -->
  <servlet>
    <servlet-name>aggiungiArtista</servlet-name>
    <servlet-class>servlet.AggiungiArtista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aggiungiArtista</servlet-name>
    <url-pattern>/aggiungiArtista</url-pattern>
  </servlet-mapping>
    <!--Fine Aggiungi Artista -->
  
    <!--Inizio Aggiungi Evento -->
  <servlet>
      	<servlet-name>aggiungiEvento</servlet-name>
    	<servlet-class>servlet.AggiungiEvento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aggiungiEvento</servlet-name>
    <url-pattern>/aggiungiEvento</url-pattern>
  </servlet-mapping>
   <!--Fine  Aggiungi Evento -->
   
   <!--Inizio Aggiungi Canzone -->
  <servlet>
    <servlet-name>aggiungiCanzone</servlet-name>
    <servlet-class>servlet.AggiungiCanzone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aggiungiCanzone</servlet-name>
    <url-pattern>/aggiungiCanzone</url-pattern>
  </servlet-mapping>
   <!--Fine Aggiungi Canzone -->
  
  
    <!--Inizio Aggiungi Prodotti -->
   <servlet>
   	<servlet-name>Prodotti</servlet-name>
    <servlet-class>servlet.Prodotti</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>Prodotti</servlet-name>
    <url-pattern>/prodotti</url-pattern>
   </servlet-mapping>
   <!--Fine Aggiungi Prodotti -->
   
   
   
   
   
</web-app>