<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MicroKSiw2019_2</display-name>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>

  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Singup</servlet-name>
    <servlet-class>servlet.Singup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Singup</servlet-name>
    <url-pattern>/Singup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>servlet.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSong</servlet-name>
    <servlet-class>servlet.DeleteSong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSong</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AggiungiArtista</servlet-name>
    <servlet-class>servlet.AggiungiArtista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiArtista</servlet-name>
    <url-pattern>/AggiungiArtista</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>aggiungiEvento</servlet-name>
    <servlet-class>servlet.AggiungiEvento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aggiungiEvento</servlet-name>
    <url-pattern>/aggiungiEvento</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AggiungiCanzone</servlet-name>
    <servlet-class>servlet.AggiungiCanzone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiCanzone</servlet-name>
    <url-pattern>/AggiungiCanzone</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Prodotti</servlet-name>
    <servlet-class>servlet.Prodotti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prodotti</servlet-name>
    <url-pattern>/prodotti</url-pattern>
  </servlet-mapping>
</web-app>